{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Instagram</title>
  {{form.media}}
  {% block styles %}
   {% bootstrap_css %}
   <link rel="stylesheet" href="{% static 'css/baseprofile.css' %}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



  {% endblock %}
  <style>
  .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;

  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
      box-shadow: 0 8px 29px 0 rgba(0,0,0,0.2);
  }
  h1{color:yellow}
  .row-flex {
    display: flex;
    flex-wrap: wrap;
    height:300px;
  }


  /* vertical spacing between columns */

  [class*="col-"] {
    margin-bottom: 30px;
    
  }
  </style>
</head>

<body>
  {% include "navbar1.html" %}
  {% block content %}

  {% endblock %}




  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     {% bootstrap_javascript %}
     {% endblock %}
   </body>
   </html>
