h1 {
    color: yellow;
  }
  
  .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  
  .center{
  padding: 2px 16px;
  
  }
  .top{
  padding: 2px 16px;
  
  }
  .row-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* vertical spacing between columns */
  
  [class*="col-"] {
    margin-bottom: 30px;
  }
  